#Landing {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    position: relative;
    top: 10rem;
    span {
      color: green;
      font-weight: bolder;
    }
    .server-icon {
      font-size: 2.5rem;
    }
    .ready {color: green}
    .failure {color: red}
  }

  .form {
    position: relative;
    top: 15rem;
  }

  .submit {
    position: relative;
    top: 15rem;
  }

  #ReduxModal {
    align-self: flex-end;
  }
}
