/*
 * ====================================================================
 * global.scss
 *  Used to set some global styles for your project that are used on
 *  ALL pages.
 * ====================================================================
 */

 body, html {
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;

  &:focus {
    border: none;
    outline: none;
  }
}

input::-moz-focus-outer {
  border: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  text-align: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
}

.test-container {
  width: 100vw;
  height: 100vh;

  .manifest-menu {
    padding: 20px;
    display: inline-block;
    height: 100%;
    overflow: auto;

    a {
      font-size: 15px;
      display: block;
      margin-bottom: 5px;
    }
  }
}

.browser-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  font-size: 11px;
  transition: opacity 0.5s;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #333333;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
  }
}
